body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fd7e14;
    color: black; 
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 160px;
    margin-top:5%;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #140083;
}
.divRodape{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
.divRodapeLink{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    margin-top: -50px;
}
.divRodapeLink a{
    margin-top: 10px;
    padding: 20px;
    color: #fd7e14;
}
.divCabecalho{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fd7e14;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    text-align: center;
}
.divLogotipo{
    display: flex;
    justify-content:center;
    width: 90px;
    border-radius: 15px;
    box-shadow: black 2px 2px 3px;
}
.logotipo{
    width: 100%;
    margin: 0 auto;
}
.divTextoCabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.2rem; 
    color: white; 
    text-align: center;
}
.divTextoMain{
    display: flex;
    color: #222425;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.4rem;
    text-align: center;
}
#erro{
    display: none;
    justify-content: center;
    margin-left: 13%;
    margin-top: 10px;
    color: red;
}
.textoLegend{
    font-size: 1.4rem; 
    color: black; 
    text-align: center;
    font-weight: 400;
}
.btn{   
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    width: 180px;
    height: 52px;
    border-radius: 25px;
    font-weight: 600;
    background-color: #f8f9fa;
    border: 1px solid gray;
    box-shadow: gray 2px 2px 2px;
    margin: 20px;
    margin-top: 0;
}
.btn:hover{
    border: 1px solid lightgray;
    background-color: lightgray;
    box-shadow: black 3px 3px 3px;
}
.divButton{
    display:flex;
    justify-content:center;
    margin-top:0 auto;
}

.divForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoCamposObrigatios{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fd7e14;
}
form{
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 1.7%;
    border: 1px solid gainsboro;
    border-radius: 14px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    box-shadow: lightgray 1px 1px 1px;
}
fieldset{
    border-radius: 14px;
    border: 2px solid gainsboro;
    padding: 1.7%;
}
label{
    color: black;
    font-size: 1.26rem;
    font-weight: 600; 
}
input{
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 18px;
}

@media (max-width: 600px){
    input{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 600px){
    select{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 600px){
    .divTextoMain{
        margin-top: 80px;
        padding: 20px;
        margin-bottom: -20px;
    }
}
@media (max-width: 600px){
    .divTextoCabecalho{
        margin-left: 0;
        font-size: 1.13rem; 
    }
}
@media (max-width: 600px){
    .btn{
        margin: 5px;
        font-size: 1.1rem;
    }
}

input[type="text"]:hover{
    border:1px solid #fd7e14;
}
input[type="tel"]:hover{
    border:1px solid #fd7e14;
}
input[type="email"]:hover{
    border:1px solid #fd7e14;
}
input[type="date"]:hover{
    border:1px solid #fd7e14;
}
input[type="text"]:placeholder-shown{
    font-size: 1rem; 
}
input[id="nome"]{
    width: 200px;
}
input[id="sobrenome"]{
    width: 200px;
}
input[id="cpf"]{
    width: 240px;
}
input[id="rg"]{
    width: 150px;
}
input[id="endereco"]{
    width: 260px;
}
input[id="numero"]{
    width: 150px;
}
input[id="bairro"]{
    width: 150px;
}
input[id="cidade"]{
    width: 150px;
}
input[id="estado"]{
    width: 150px;
    margin-top: 2%;
}
input[id="cep"]{
    width: 160px;
    margin-top: 2%;
}
input[id="telefoneFixo"]{
    width: 210px;
}
input[id="telefoneCelular"]{
    width: 210px;
}
input[id="email"]{
    width: 220px;
}
input[type="text"]:not(:placeholder-shown){
    border-color: green;
}
input[type="tel"]:not(:placeholder-shown){
    border-color: green;
}
input[type="email"]:not(:placeholder-shown){
    border-color: green;
}
input:required{
    border-color: #fd7e14;
}

select{
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    margin-right: 1%;
    font-weight: 600;
}

select:focus {
    background: #f8f9fa;
}
select:hover{
    border: #fd7e14 1px solid;
}
select:optional{
    height: 36px;
    font-size: 1rem; 
}
